{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tickets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'mytickets.css' %}">
  </head>
  <body>
    <div class="container-fluid">
        <div class="container border-bottom border-2 pt-4 mb-4 d-flex" style="max-width: 950px;">
            <a class="text-secondary px-0" href="{% url 'index' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                </svg>
            </a>
            <p class="fw-bold fs-4 px-2 text-primary">Your Tickets</p>
        </div>
        <div class="container min-vh-100 mb-5" style="max-width: 850px; min-width: 320px;">
            {% for query in data %}
                <div class="w-100 h-auto border px-4 py-3 pt-4 pb-4 rounded-4 mb-5 shadow">
                    <div class="data pt-2">
                        <div class="d-flex align-items-center justify-content-between px-3 py-2">
                            <p class="fw-semibold fs-5">Product Name</p>
                            <p>{{query.Product_Name}}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between px-3 py-2">
                            <p class="fw-semibold fs-5">Date</p>
                            <p>{{query.date}}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between px-3 py-2">
                            <p class="fw-semibold fs-5">Status</p>
                            <p>{{query.status}}</p>
                        </div>
                        <div class=" px-3 py-2">
                            <p class="fw-semibold fs-5">Comment</p>
                            <p>{{query.comment}}</p>
                        </div>
                        <div class=" px-3 py-2">
                            <p class="fw-semibold fs-5">Address</p>
                            <p>{{query.Address}}</p>
                        </div>
                    </div>

                    <div class="statusbar">
                        <div class="d-none status">{{query.status}}</div>
                        <div class="progressbar">
                            <div class="points">
                                <span>1</span>
                                <p>Submitted</p>
                            </div>
                            <div class="points">
                                <span>2</span>
                                <p>Processing</p>
                            </div>
                            <div class="points">
                                <span>3</span>
                                <p>Completed</p>
                            </div>
                            <span class="slider"></span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <script>
        const statuscode = {"Submitted": 1, "Processing": 2, "Completed": 3}
        const statuses = document.querySelectorAll(".status");
        for (let status of statuses){
            const x = status.innerHTML;

            const staus_no = statuscode[x];

            const progreebar = status.nextElementSibling;

            const progressitems = progreebar.children;

            for(let i = 0; i<staus_no; i++){
                progressitems[i].classList.add("coloredpoint");
            }

            const width = (50 * staus_no) - 50;
            progressitems[3].style.width = width+"%";

        }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>